<div class="container">
  <div class ="title">
   <h2>Order</h2>
   <div class="d-flex">
     <form action="" method="">
        <label>
        <span class="fname">first name<span class="required">*</span></span>
            <input type= "text" name="fname">
            </label>
            <label>
               <span class="lname">last name<span class="required">*</span><span>
               <input type="text" name="lname">
               </label>
                 <label>
                  <span> company name optional</span>
                  <input type="text" name="cn">
                </label>
         <label>
            <span class="Email">Email<span class="required">*</span><span>
                <input type = "email" name="email">
                  </label>
                  </form>
                <div class="order">
                   <table>
                     <tr>
                     <th colspan="2">Your Order</th>
                     <tr>
                     <td>Product Name x 2(Qty)</td>
                     <td>sh 8800 </td>
                     </tr>
                     <tr>
                       <td>subtotal</td>
                       <td>sh 8800</td>
                    </tr>
                    <tr>
                       <td>Shipping</td>
                       <td>free shipping</td>
                    </tr>
                    </table><br>
                <div>
                   <input type="radio" name="dbt" value="dtb" checked>Direct bank Transfer</div>
                <p>
                    make your payment directly to the company.your order will not be shipped until your payments are cleared into our account
                </p>
                <div>
                   <input type ="radio" name="dtb" value="cd">cash on delivery</div>
                <div>
                   <input type= "radio" name=dtb" value="cd"> m-pesa</div>
                <button type ="button">place order</button>
                </div>
                  </div>
                    </div>
                    </div>
                       

                   