<form action = " {% url 'login' %} " method = "POST">
   {% csrf_token %}
   <div class = "container">
<h2> login </h2>
  <hr>
     <label for = "email"><b> email</b></label>
<input type = "text" placeholder = "email" name = "email" required>
<label for Password = "password" ><b>password</b></label>
<input type = "password" placeholder = "password" name="password" required>

<button type = "submitt" class = "signin"> login</button>

<p>
   dont have an account , please   <a href="/register">register</a>
   
</div>
  </div>
  </form> 