 <div class="container">
   <div class="title">
   <h2>CHECKOUT</h2>
 <div class="d-flex">
     <form action="" method="">
<label>
  <span class="fname"> first name <span class="required">*</span></span>
     <input type="text" name="fname">
  <span class="text" name="lname">
  <span class ="number"> phone number <span class="required">*</span></span>
  <input type ="tel" name="number">
  <span class="adress"> delivery address <span class="required">*</span></span>
   <input type="text" name= "adress">
<span class="s/r">state/region <span class="required">*</span></span>
  <input type="text"name="s/r">


<button type="submitt" class="save">save and continue</button>

