<div class ="signupfm">
   <form action ="" class = "form">
   <h1 class="title" > signup </h1>\

   <div class = " input container" >
    <input type = "text" class = "input" placeholder = "a">
    <label for = "" class = "label" > Email </label>

   </div>

   <div class= "input container" >
     <input type = "text" class = "input" placeholder = "a" >
    <label for = "" class = "label" > username </label>
  </div>
  
 <div class= "input container" >
     <input type = "text" class = "input" placeholder = "a" >
    <label for = "" class = "label" > Enter Password </label>
  </div>
     
      <div class= "input container" >
     <input type = "text" class = "input" placeholder = "a" >
    <label for = "" class = "label" > confirm Password </label>
  </div>

  <input type = "submitt" class = "submitt" value = "signup" >
  </form>
  </div>
