<div class ="signupfm">
   <form action ="{% url 'register' %}" method = "POST" class = "form">
   {% csrf_token %}
   <h1 class="title" > signup </h1>
   <div class = " input container" >
    <input type = "text" name = "email" class = "input" placeholder = "email">
    <label for = "" class = "label" > Email </label>

   </div>
 
  
 <div class= "input container" >
     <input type = "password" name = "password" class = "input" placeholder = "password" >
    <label for = "" class = "label" > Enter Password </label>
  </div>
     
      <div class= "input container" >
     <input type = "password" name = "re-enter_password" class = "input" placeholder = "password" >
    <label for = "" class = "label" > confirm Password </label>
  </div>

  <button type = "submitt" class = "submitt" value = "signup" >signup</button>
  </form>
  </div>
